footer {
    .logoheaderfooter img {
        cursor: pointer;
        transition: transform 0.5s;
    
    &:hover {
        transform: scale(1.05);
    }
}
    .whatsappmargin {
        margin-left: 8px;
    }
    
}

@media (max-width: 992px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;  

    .rrss {
        display: flex;
        justify-content: center;
    }

    .whatsappmargin {
        margin-left: 9px;
    }
}
}