body {
    color: white;
    background-image: linear-gradient(black, rgb(0,0,32));
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
} 

.whatsappmargin {
    margin-left: 8px;
}

@media (max-width: 992px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }  

    .rrss {
        display: flex;
        justify-content: center;
    }

    .whatsappmargin {
        margin-left: 9px;
    }

}
