* {
    margin: 0;
    padding: 0;
    }


.title {
    font-weight: bolder;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-image: linear-gradient(black, rgb(0,0,32));
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.logoheaderfooter {
    cursor: pointer;
}

.logoheaderfooter img {
    transition: transform 0.5s;
}

.navHeader {
    margin-right: 20px;
}

.logoheaderfooter img:hover {
    transform: scale(1.05);
}

.textosPrinc {
    font-size: 25px;
    margin-right: 10px;
}

.imagenPrinc {
    display: flex;
    justify-content: center;
    align-items: center;
}  


main {
    margin-left: 10px;
    margin-right: 10px;
}

header span {
    display: none;
}

.menuHambur {
    font-size: 30px;
    margin-right: 30px;
}

header div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}


header div nav ul {
    list-style-type: none;
    display: flex;
    margin-left: 40px;  
}

header div nav ul li a {

    margin: 0px 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
    background-color: rgb(14, 79, 219);
    color: white;
    border-radius: 10px;}

.botonesNav {
    transition: transform 1s;
}

.botonesNav:hover {
    transform: scale(1.1);
}

.botonesNav a:hover {
    background-color: lightblue;
    color: black;
}

.containerBodyindex {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.tablatop1 {
        background-color: green;
    }

.tablatop2 {
        background-color: greenyellow;   
    }

    .tablatop3 {
        background-color: aquamarine;     
    }

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5px;
}

footer div {
    flex-wrap: wrap;
}

.rrssFooter {
    margin-right: 20px;
}

.h3footer {
    color: white;
    text-decoration-line: none;
}

button[type='submit'] {
    font-weight: bold;
    cursor: pointer;
/*     -webkit-appearance: none; */
}

button[type='reset'] {
    font-weight: bold;
    cursor: pointer;
/*     -webkit-appearance: none; */
}

.tabla {
color: black;
font-weight: bold;
}

.contactButtons {
    display: flex;
    gap: 10px;
}

.contactButtons button {
    width: 150px;
    padding: 5px;
}


.whatsappmargin {
    margin-left: 7px;
}


.listasinestilo {
    list-style-type: none;
} 


.containerUbi {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}


.cointanerUbi_title {
    display: grid;
    grid-area: 1 / 1 / 1 / 1;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.cointanerUbi_title h1 {
    background-color: rgb(0,0,80);
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
}

.cointanerUbi_maps {
    display: grid;
    grid-area: 1 / 2 / 1 / 2;
    margin: 0 auto;
    margin-bottom: 5px;
    align-self: center;
}

.cointanerUbi_maps iframe {
    width: 800px;
    height: 600px;
}

.containerServicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20px;
}

.containerServiciosimg {
    display: grid;
    grid-area: 1 / 2 / 1 / 2;
    margin-right: 10px;
}

.containerServiciostxt {
    display: grid;
    grid-area: 1 / 1 / 1 / 1;
    font-size: 20px;
    line-height: 40px;
}

.serviciosImg {
    width: 100%;
}

.containterNosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-left: 20px;
}


.containterNosotrostxt {
    display: grid;
    grid-area: 1 / 1 / 1 / 1; 
    line-height: 40px;
    font-size: 20px;
}

.containterNosotrosimg {
    display: grid;
    grid-area: 1 / 2 / 1 / 2;
    margin-right: 10px;
}

.nosotrosImg {
    width: 100%;
}

.containerContacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-left: 20px;
}

.containerContactoimg {
    display: grid;
    grid-area: 1 / 2 / 1 / 2;
}

.containerContactoform {
    display: grid;
    grid-area: 1 / 1 / 1 / 1;
}

.contactoImg {
    width: 95%;
    height: 100%;   
}

.radiocontacto {
margin-right: 10px;
}

@media (max-width: 1400px) {
    .cointanerUbi_maps iframe {
        width: 600px;
        height: 400px;
    }
}

@media (max-width: 875px) {
    header nav {
        display: none;
    }
    header span {
        display: inline-block;
    }

    .containterNosotros {
        grid-template-rows: 1fr, 1fr;
        flex-direction: column;
    }

    .containterNosotrostxt {
        display: grid;
        grid-area: 1 / 1 / 1 / 1;
        align-items: center;
        line-height: 40px;
        font-weight: bold;
        font-size: 20px;
    }
    
    .containterNosotrosimg {
        display: grid;
        grid-area: 2 / 1 / 2 / 1;
        margin-right: 10px;
    
    }

    .nosotrosImg {
        width: 500px;
    }

    .containerServiciostxt {
        font-weight: bold;
    }
    
    .containerContacto {
        grid-template-rows: 1fr, 1fr;
        flex-direction: column;
        }
    .containerContactoimg {
        display: grid;
        grid-area: 1 / 1 / 1 / 1;
        margin-right: 10px;
    }
    
    .containerContactoform {
        display: grid;
        grid-area: 2 / 1 / 2 / 1;
    }

    .contactoImg {
        width: 500px;   
    }

    .containerUbi {
        grid-template-rows: 1fr, 1fr;
        flex-direction: column;
    }
    
    
    .cointanerUbi_title {
        display: grid;
        grid-area: 1 / 1 / 1 / 1;
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }
    
    
    .cointanerUbi_maps {
        display: grid;
        grid-area: 2 / 1 / 2 / 1;
        padding: 10px;
        margin: 0 auto;
        
    }

    .cointanerUbi_maps iframe {
        width: 500px;
        height: 400px;
    }
    
    .containerServicios {
        grid-template-rows: 1fr, 1fr;
        flex-direction: column;
    }
    
    .containerServiciosimg {
        display: grid;
        grid-area: 1 / 1 / 1 / 1;
    }
    
    .containerServiciostxt {
        display: grid;
        grid-area: 2 / 1 / 2 / 1;
        font-size: 20px;
    }
    
    .serviciosImg {
        width: 500px
    }

    .imagenPrinc img {
        width: 550px;
        height: 385px;
        max-width: 550px;
    }

    .textosPrinc {
        font-size: 20px;
    }

    }

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        line-height: 50px;
    }

    .nosotrosImg {
        width: 400px;
    }
    
    .serviciosImg {
        width: 400px
    }

    .contactoImg {
        width: 400px;   
    }

    .imagenPrinc img {
        max-width: 380px;
    }

    .cointanerUbi_maps iframe {
        width: 400px;
    }
}

@media (max-width: 420px) {
    body {
        font-size: 100%;
    }

    .nosotrosImg {
        width: 350px;
    }

    .serviciosImg {
        width: 350px
    }

    .imagenPrinc img {
        max-width: 340px;
    }

    .contactoImg {
        width: 350px;   
    }

    .cointanerUbi_maps iframe {
        width: 350px;
    }
}

@media (max-width: 375px) {
    body {
        font-size: 130%;
    }

    .imagenPrinc img {
        max-width: 300px;
    }
}